.messages-window {
  overflow: scroll;
  height: calc(100% - 143px);
}
.message-row {
  margin-bottom: 0px;
}

.message-bubble {
  padding: 10px;
}

.left-message-bubble {
  border-radius: 15px 30px 30px 45px;
}

.right-message-bubble {
  border-radius: 30px 15px 45px 30px;
}

.message-input {
  background-color: #f8f8ff;
  border-radius: 40px;
  border-radius: 40px 0px 0px 40px;
  margin-bottom: 10px;
  height: 66px !important;
}

.btn-send {
  margin-top: 4.8px;
  height: 67px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
